
<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-padding">
      <ion-button (click)="backpage()">
        <ion-icon
          slot="icon-only"
          name="arrow-back-circle"
          color="primary"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="0es3secondary">
  <ion-img src="./assets/img/Logo.png" class="img-login"></ion-img>
  <ion-img src="./assets/img/form-login.png" class="img-form-login"></ion-img>
  <ion-text class="login-title"> 
    {{ 'page.auth.restore-password.generics.title' | translate }} 
  </ion-text>
  <form [formGroup]="recoverForm" (ngSubmit)="verify()">
    <div class="input-container margin-t-42">
      <div class="form__div">
        <input
          type="number"
          class="form__input"
          placeholder=" "
          formControlName="document"
          min="10000"
          max="9999999999"
        />
        <label for="" class="form__label">
          {{ 'page.auth.restore-password.id.id-label' | translate }}
        </label>
        <ion-icon
          name="alert-circle-outline"
          slot="end"
          class="icon-position-user"
          *ngIf="repsonseAuth?.code===404"
        >
        </ion-icon>
        <p class="error-msj-input-user">
          {{repsonseAuth?.code===404 ? repsonseAuth?.msj:' '}}
        </p>
      </div>
    </div>
  </form>
</ion-content>


<ion-footer class="ion-no-border translucent" mode="ios">
  <ion-toolbar>
    <ion-button
          expand="block"
          type="submit"
          [disabled]="recoverForm.invalid"
          (click)="verify()">
          {{ 'page.auth.restore-password.generics.recover' | translate }}
        </ion-button>
  </ion-toolbar>
</ion-footer>


