<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-padding">
      <ion-button (click)="backpage()">
        <ion-icon
          slot="icon-only"
          name="arrow-back-circle"
          color="primary"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="0es3secondary">
  <ion-img src="./assets/img/Logo.png" class="img-login"></ion-img>
  <ion-img src="./assets/img/form-login.png" class="img-form-login"></ion-img>
  <ion-text class="login-title"> 
    {{ 'page.auth.restore-password.change.title' | translate}}
  </ion-text>
  <div [hidden]="true">
    <ion-icon
      name="alert-circle-outline"
      slot="end"
      *ngIf="repsonseAuth?.code===404"
    >
    </ion-icon>
  </div>
  <form [formGroup]="changeForm" (ngSubmit)="verify()">
    <div class="input-container margin-t-42">
      <div class="form__div">
        <input
        mode="ios" type="password" class="form__input" placeholder=" " formControlName="newPassword" (keyup)="validationEvent($event)" maxlength="8"
        />
        <label for="" class="form__label">
          {{ 'page.auth.restore-password.change.new-password' | translate}}
        </label>
        <ion-icon
        name="alert-circle-outline"
        slot="end"
        class="icon-position-user"
        [hidden]="showErrorMessage"
        >
        </ion-icon>
        <p class="error-msj-input-user" [hidden]="showErrorMessage">
          {{ 'page.auth.restore-password.change.no-conditions' | translate}}.
        </p>
      </div>
      <div class="form__div">
        <input mode="ios" type="password" class="form__input" placeholder=" "  formControlName="coPassword" maxlength="8" (keyup)="matchEvent($event)"/>
        <label for="" class="form__label"> 
          {{ 'page.auth.restore-password.change.confirm' | translate}} 
        </label>
        <ion-icon
          name="alert-circle-outline"
          slot="end"
          class="icon-position-user"
          [hidden]="hiddenPasswordMessage"
        >
        </ion-icon>
        <p class="error-msj-input-user" [hidden]="hiddenPasswordMessage">
          {{ 'page.auth.restore-password.change.no-match' | translate}}.
        </p>
      </div>
      
      
    <ion-list mode="md">
      <ion-text>
        {{ 'page.auth.restore-password.change.conditions' | translate}}:
      </ion-text>
      <div class="ion-padding">
        <p [ngClass]="{'conditionNoMet': upperReq === false || upperReq === '','conditionMet': upperReq === true}">
          -{{ 'page.auth.restore-password.change.upper' | translate}}.
        </p>
        <p [ngClass]="{'conditionNoMet': lowerReq === false || lowerReq === '','conditionMet': lowerReq === true}">
          -{{ 'page.auth.restore-password.change.lyrics' | translate}}.
        </p>
        <p [ngClass]="{'conditionNoMet': numbersReq === false || numbersReq === '','conditionMet': numbersReq === true}">
          -{{ 'page.auth.restore-password.change.number' | translate}}.
        </p>
        <p [ngClass]="{'conditionNoMet': specialReq === false || specialReq === '','conditionMet': specialReq === true}">
          -{{ 'page.auth.restore-password.change.special' | translate}} (*./().
        </p>
        <p [ngClass]="{'conditionNoMet': lengReq === false || lengReq === '','conditionMet': lengReq === true}">
          -8 {{ 'page.auth.restore-password.change.characters' | translate}}.
        </p>
      </div>
    </ion-list>
    </div>

  </form>
</ion-content>

<ion-footer class="ion-no-border translucent" mode="ios">
  <ion-toolbar>
    <ion-button expand="block" type="submit" [disabled]="changeForm.invalid" (click)="verify()">
      {{ 'page.auth.restore-password.change.change' | translate}}
    </ion-button>
  </ion-toolbar>
</ion-footer>
