.img-empty {
  width: 170px;
  margin: auto;
  margin-top: 40px;
  display: block;
}

.screen {
  display: table-cell;
  vertical-align: middle;
}

.empty-title {
  margin: 32px;
  color: #0463a9;
  position: initial;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  display: grid;
}
