.input {
  margin-bottom: 2rem;
  width: 200px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid rebeccapurple;
}

.input_2 {
  margin-bottom: 2rem;
  width: 200px;
  height: 60px;
  border-radius: 10px;
  border: none;
}
